<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Ikeator</div>
    <p>
      Use similar images to the following classes:
      ['ALSEDA Stool', 'BESTÅ storage system', 'BRANÄS Basket', 'DRAGAN- Soap dispenser', 'FRIHETEN 1-seat sofa', 
      'HABITAT gala glass table', 'HENRIKSDAL Chair', 'INGEFÄRA Plant pot with saucer', 'KAFFEBÖNA Plant pot ', 
      'KALLAX Shelving unit', 'LACK Coffee table ', 'LANDSKRONA 1-seat sofa', 'LAUTERS Floor lamp', 'LIVSVERK Vase', 
      'MARJUN curtains', 'MARTIN Chair', 'MOSJÖ TV bench', 'MUSKAN Shelving unit', 'NOCKEBY 2-seat sofa', 'RÅDIG Espresso maker', 
      'RIBBA Frame', 'RINGBLOMMA Roman blind', 'RINNIG Soap dispenser', 'SALMI Glass Table', 'SAMVERKA Decoration', 
      'SANDARED Pouffe ', 'STABBIG Decoration', 'STOENSE Rug', 'VIMLE 2-seat sofa']


    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
